.btn {
  width: 141px;
  height: 31px;
  background-color: $color-primary;
  color: white;
  border: none;
  border-radius: 8px;
  align-self: center;
  outline: inherit;
  cursor: pointer;

  &:hover {
    background: #3876ac;
  }

  &__container {
    width: 100%;
  }

  &__submit {
    display: flex;
    margin: auto;
    justify-content: center;
  }
}

.btn-close {
  margin-bottom: 5%;
}
