.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
  z-index: 2;

  &:before {
    @include close;
    transform: rotate(45deg);
  }

  &:after {
    @include close;
    transform: rotate(-45deg);
  }
}
