html {
  font-family: $font-default;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  margin-top: 90px;
}
